<!DOCTYPE html>
<html>
<head>
    <title>Сканер</title>
</head>

<body>

<video id="video" autoplay playsinline></video>
<div class="scan-frame"></div>

<script>
const params = new URLSearchParams(window.location.search);
const session = params.get("session");

const video = document.getElementById("video");

let lastCode = "";
let lastTime = 0;

// 🔥 включаем камеру
navigator.mediaDevices.getUserMedia({
    video: {
        facingMode: { ideal: "environment" },
        width: { ideal: 1920 },
        height: { ideal: 1080 }
    }
})
.then(stream => {

    video.srcObject = stream;
    video.play();
	
	video.setAttribute(
		"autofocus",
		true
	);

    // 🔥 ВСЁ ВНУТРИ!
    const track = stream.getVideoTracks()[0];
    const capabilities = track.getCapabilities();

    if (capabilities.focusMode) {
        track.applyConstraints({
            advanced: [{ focusMode: "continuous" }]
        });
    }

    if (capabilities.zoom) {
        track.applyConstraints({
            advanced: [{ zoom: 1.5 }]
        });
    }

});

// 🔥 детектор
const detector = new BarcodeDetector({
    formats: ["ean_13","ean_8","code_128","code_39","upc_a","upc_e"]
});

async function scan() {

    try {

        const barcodes = await detector.detect(video);

        if (barcodes.length > 0) {

            const code = barcodes[0].rawValue;
            const now = Date.now();

            if (code.length >= 8 && code.length <= 14) {

                if (!(code === lastCode && now - lastTime < 1200)) {

                    lastCode = code;
                    lastTime = now;

                    console.log("SCAN:", code);

                    // 🔊 пик
                    if (navigator.vibrate) navigator.vibrate(120);

                    fetch("/api/scan/" + session, {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({ code })
                    });
                }
            }
        }

    } catch (e) {
        console.log("SCAN ERROR", e);
    }

    requestAnimationFrame(scan);
}

setTimeout(scan, 500);
</script>

<style>
body {
    margin:0;
    background:black;
    overflow:hidden;
}

#video {
    width:100%;
    height:100vh;
    object-fit:cover;
}

.scan-frame {

    position: fixed;

    top: 50%;
    left: 50%;

    width: 92%;
    max-width: 700px;

    height: 120px;

    transform: translate(-50%, -50%);

    border:3px solid #ff3b30;

    border-radius: 12px;

    box-shadow:
        0 0 0 999px rgba(0,0,0,0.4);
}
</style>

</body>
</html>